<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN">
<!--        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd"-->



<!-- Checkstyle checks http://checkstyle.sourceforge.net/checks.html -->
<module name="Checker">
    <module name="TreeWalker">
        <module name="ArrayTypeStyle"/>
        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="7"/>
        </module>
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="10"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="max" value="38"/>
        </module>
        <module name="CovariantEquals"/>
        <module name="CyclomaticComplexity">
            <property name="max" value="8"/>
        </module>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyLineSeparator">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="allowMultipleEmptyLines" value="false"/>
        </module>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="ExecutableStatementCount">
            <property name="max" value="48"/>
            <property name="tokens" value="CTOR_DEF,METHOD_DEF"/>
        </module>
        <module name="FallThrough"/>
        <module name="FinalClass"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="InnerTypeLast"/>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="50"/>
        </module>
        <module name="LeftCurly"/>
        <module name="LineLength">
            <property name="max" value="300"/>
        </module>
        <module name="ModifiedControlVariable"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="NeedBraces"/>
        <module name="NPathComplexity">
            <property name="max" value="32"/>
        </module>
        <module name="OneStatementPerLine"/>
        <module name="OneTopLevelClass"/>
        <module name="OuterTypeFilename"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9_]*)*$"/>
        </module>
        <module name="ParameterAssignment"/>
        <module name="ParenPad"/>
        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="SuppressWarningsHolder"/>
        <module name="TypecastParenPad"/>
        <module name="UnusedImports"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
            <property name="allowEmptyLoops" value="true"/>
        </module>
    </module>
    <module name="FileLength">
        <property name="max" value="600"/>
    </module>
    <module name="NewlineAtEndOfFile"/>
    <module name="SuppressionFilter">
        <property name="file" value="config/checkstyle/checkstyle-suppressions.xml"/>
    </module>
    <module name="SuppressWarningsFilter"/>
</module>